includes:
    - vendor/mrpunyapal/peststan/extension.neon

parameters:

    level: max
    paths:
        - src
        - config

    excludePaths:
        - tests/Fixture
        - tests/*/Fixture
        - tests/*/*/Fixture
        - '*/Source/*'
        - '*/Expected/*'
